@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');



// Je n'ai pas touché au utilité en me disant que c'était une lib externe, ex: normalize
@import "./sass/utility.scss";

// Custom CSS
@import "./sass/global/variables.scss";
@import "./sass/global/layout.scss";
@import "./sass/section/hero.scss";
@import "./sass/section/banner.scss";
@import "./sass/section/mosaic.scss";
@import "./sass/navigation/footer.scss";

body {
	font-family: 'Lato', 'helvetica', sans-serif;
}

h1 
.typo--h1 {
	font-size: 3.125rem;
	font-weight: 700;
	line-height: 3.75rem;
	color: $white;
}

h2,
.typo--h2 {
	font-size: 2.1875rem;
	font-weight: 700;
}

h3,
.typo--h3 {
	// font-size: 2.1875rem;
	// font-weight: 700;
}

h4,
.typo--h4 {
  font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5rem;
}

.container {
	margin: 0 auto;
}

.container--section {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;
}

.section {
	padding: 0 5.625rem;
}