.mosaic {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.625rem 0;
  margin-top: 2.1875rem;

  @media (min-width: $medium) {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.625rem;
  }
  
  .col-span-2 {
    height: 18rem;
  }
  
  .col-span-3 {
    height: 22.5rem;
  }

  picture {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($black, 0.4);
    }
  }
}

.mosaic__header {
  
  @media (min-width: $small) {
    display: flex;
    justify-content: space-between;
  }
}

.mosaic__title {
  position: absolute;
  left: 1.875rem;
  bottom: 1.875rem;
}

.mosaic__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}